@charset "utf-8";
/*
   CSS Light & Dark Mode Project
   Filename: mp_layout.css

   This file contains the layout styles used in the Mobile Panini website

	Author: Your Name
    Date:   2017-03-01


*/




body {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    color: var(--text);
    background: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}
a:visited {
    color: currentColor;
}
header {
    position: relative;
    display: flex;
    padding: 1em;
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    font-size: larger;
}
.welcome
.sandwich {
    flex-wrap: nowrap;
}
.p1, .p2, .p3, .menu, .events, .about {
    font-family: 'EB Garamond', serif;
    margin-left: 10px;
}
#h1 {
    margin-left: 5px;
}
#menu {
    margin-left: 15px;
}
main {
    min-height: 1000px;
    padding: 2rem;
}

img {
    margin: 2em 0 0;
}
footer {
	text-align: center;
	font-size: 0.6em;
	margin-top: 4%;
	border-top: 3px outset #84D4DC;
	font-family: 'Dancing Script', cursive;
	clear: both;
	padding-bottom: 20px;
}
.logo {
    width: 100%;
}

/* Navbar */
.navbar {
    height: 70px;
    width: 100%;
    background: var(--bg-nav);
    color: var(--text);
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}


.dropdown {
    position: absolute;
    width: 500px;
    opacity: 0;
    z-index: 2;
    background: var(--bg-dropdown);
    border-top: 2px solid var(--border-color);

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;
   
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
    transform: translateX(-76%);

    transition: opacity .15s ease-out;
}


.has-dropdown:focus-within .dropdown   {
    opacity: 1;
    pointer-events: auto;
}


.dropdown-item a {
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;
    font-weight: bold;
}

.dropdown-item a::before {
    content: ' ';
    border: 2px solid var(--border-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* Themes */


:root {
	--blue1: #6e78ff;
	--blue2: #44549C;
	--blue3: #84D4DC;
	--blue4: #6C7CFB;
	--gray1: #D6DFE6;
	--gray2: #283038;
	--gray3: #60686F;
    --gray4: #131313;
    --gray5: #acacac;
    --gray6: #ececec;
    --gray7: #ececec;
    --gray8: #131313;
}

.light {
    --bg: linear-gradient(to right, var(--gray6), var(--gray1));
    --bg-nav: linear-gradient(to right, var(--gray1), var(--gray6));
    --bg-dropdown: var(--gray6);
    --text: var(--gray4);
    --border-color: var(--gray2);
    --bg-solar: var(--blue3);
}
  

.dark {
    --bg: linear-gradient(to right, var(--gray3), var(--gray2));
    --bg-nav: linear-gradient(to right, var(--gray2), var(--gray3));
    --bg-dropdown: var(--gray8);
    --text: var(--gray7);
    --border-color: var(--blue4);
    --bg-solar: var(--gray3);
}

.solar {
	--gray1: var(--blue2);
	--gray6: var(--blue4);
    --gray3: var(--blue4);
    --gray2: var(--blue2);
    --gray8: var(--blue4);
}

#dark::before {
    background: #2a2e35;
}

#light::before {
    background: #ffffff;
}
#solar::before {
    background: var(--bg-solar);
}